<!--/*
    Main HTML template for the card-blog component.
*/-->
<article class="component-card-blog featured-card text-white bg-image" style="background-image:url('@@image-square')">
	<div class="blog-card-container">
		<div class="mask"></div>
		<div class="content">
			<div class="type">
				Featured
			</div>
			<div class="inner">
				<header>
					<h4>@@title</h4>
				</header>
				<div class="body">
					 @@body
				</div>
				<div class="cta">
					@@include('../cta/cta.html', { "url" : "index.html", "class" : "primary", "label" : "learn more" })
				</div>
			</div>
		</div>
	</div>
</article>
