<!--/*
    Main HTML template for the locations component.
*/-->
<section class="component-columns component-locations pad-top-lg pad-bot-lg text-centered text-black bg-white">
	<div class="container">
		<div class="component-header">
			<div class="row">
				<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
					<header>
						<h2>Locations Component</h2>
					</header>
				</div>
			</div>
		</div>
		<div class="component-body">
			<div class="row">
				<div class="col-12 col-lg-10 offset-lg-1">
					<div class="columns row justify-content-center">
						<div class="col-12 col-md-6 col-lg-4 col-xxl-3">
							@@include('../card-location/card-location.html', { "title" : "BrightInsight, Inc. U.S. Headquarters", "address" : "6201 America Center Drive<br>San Jose, CA 95002 USA", "email" : "contact@brightinsight.com" })
						</div>
						<div class="col-12 col-md-6 col-lg-4 col-xxl-3">
							@@include('../card-location/card-location.html', { "title" : "BrightInsight, Inc. Europe Headquarters", "address" : "Sonnhalde<br>5607 Hägglingen<br>Switzerland", "email" : "contact@brightinsight.com" })
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- if Footer CTA -->
		<div class="component-footer">
			@@include('../cta/cta.html', { "url" : "index.html", "class" : "secondary-white", "label" : "learn more" })
		</div>
		<!-- end if -->
	</div>
</section>
