<!--/*
    Main HTML template for the videos component.
*/-->
<section class="component-videos pad-top-lg pad-bot-lg bg-white">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8 col-xl-9">
				@@include('../card-video/card-video-featured.html', { "youtube_id" : "HN-oHkBKDEU", "image" : "https://placeimg.com/800/400/arch", "title" : "Feugiat quis consequat eget tincidunt congue augue", "description" : "Maecenas maximus varius ante, id vulputate odio malesuada semper. Suspendisse potenti. Nulla at ligula molestie, molestie dolor vel, finibus diam." })
			</div>
			<div class="col-12 col-lg-4 col-xl-3">
				<div class="video-sidebar">
					@@include('../card-video/card-video.html', { "youtube_id" : "xbhCPt6PZIU", "image" : "https://placeimg.com/800/400/nature", "title" : "Lorem ipsum dolor sit amet" })
					@@include('../card-video/card-video.html', { "youtube_id" : "EWkNIK6CNEg", "image" : "https://placeimg.com/800/400/people", "title" : "Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua" })
					@@include('../card-video/card-video.html', { "youtube_id" : "UvOm2oZRQIk", "image" : "https://placeimg.com/800/400/tech", "title" : "Quis nostrud exercitation ullamco laboris" })
					@@include('../card-video/card-video.html', { "youtube_id" : "kJC-cFKP770", "image" : "https://placeimg.com/800/400/any/grayscale", "title" : "Duis aute irure dolor in reprehenderit in voluptate velit" })
					@@include('../card-video/card-video.html', { "youtube_id" : "xbhCPt6PZIU", "image" : "https://placeimg.com/800/400/nature", "title" : "Lorem ipsum dolor sit amet" })
				</div>
			</div>
		</div>
	</div>
</section>
