/**
 *  Main css for card-bio
 */

.component-card-bio {

	header {

		h1, h2, h3, h4, h5, h6 {
			font-weight: 500;
		}
	}

	.content {

		.meta {
			margin: 5px 0 20px;
		}
	}

	@include media-breakpoint-up(lg) {

		.content {
			padding: 60px 30px 120px;

			.cta {
				bottom: 40px;
			}
		}
	}

}
