<!--/*
    Main HTML template for the card-bio component.
*/-->
<article class="component-card component-card-bio box">
	<div class="image">
		<img class="img-responsive img-fullwidth" src="@@image">
	</div>
	<div class="content">
		<header>
			<h4>@@name</h4>
		</header>
		<div class="meta">
			 @@role
		</div>
		<div class="body">
			 @@body
		</div>
		<div class="cta">
			@@include('../cta/cta.html', { "url" : "leadership-detail.html", "class" : "secondary", "label" : "View Bio" })
		</div>
	</div>
</article>
