/**
 *  Main css for card
 */

.component-card {
	background: $color-white;
	margin: 0 0 20px;
	position: relative;
	text-align: left;

	header {

		h1, h2, h3, h4, h5, h6 {
			color: $color-blue;
		}
	}

	.content {
		padding: 20px 30px 120px;

		.type {
			color: $color-dk-gray;
			font-size: 16px;
			font-weight: 500;
			margin: 0 0 45px;
			padding: 0 0 10px;
			position: relative;
			text-transform: uppercase;

			&:after {
				background: $color-lime;
				bottom: 0;
				content: '';
				display: block;
				height: 3px;
				position: absolute;
				width: 20px;
			}
		}

		.meta {
			color: $color-md-gray;
			font-size: 16px;
			font-weight: 500;
			margin: 0 0 15px;
		}

		.body {
			color: $color-dk-gray;
			font-size: 16px;
			font-weight: 300;
			line-height: 26px;
			margin: 20px 0 0;
		}

		.cta {
			bottom: 30px;
			position: absolute;
		}
	}

	@include media-breakpoint-up(md) {
		margin: 0 0 30px;
	}

}
