/**
 *  Main css for card-icon
 */

.component-card-icon {
	margin: 0 30px 40px;

	.image {
		margin: 0 0 30px;
	}

	header {

		h5 {
			font-weight: 700;
		}
	}

	@include media-breakpoint-up(md) {
		margin: 0 0 60px;
	}
}
