// bower:scss
// endbower
/*
--------------------------------------------------
    Spacing Classes
-------------------------------------------------- 
*/


// padding rules
@mixin padding_classes($val: 20px) {

	.pad-sm { padding: $val; }
	.pad-top-sm { padding-top: $val; }
	.pad-bot-sm { padding-bottom: $val; }

	.pad-md { padding: $val*2; }
	.pad-top-md { padding-top: $val*2; }
	.pad-bot-md { padding-bottom: $val*2; }

	.pad-lg { padding: $val*3; }
	.pad-top-lg { padding-top: $val*3; }
	.pad-bot-lg { padding-bottom: $val*3; }

	@include media-breakpoint-up(md) {

		.pad-sm { padding: $val*2; }
		.pad-top-sm { padding-top: $val*2; }
		.pad-bot-sm { padding-bottom: $val*2; }

		.pad-md { padding: $val*3; }
		.pad-top-md { padding-top: $val*3; }
		.pad-bot-md { padding-bottom: $val*3; }

		.pad-lg { padding: $val*4; }
		.pad-top-lg { padding-top: $val*4; }
		.pad-bot-lg { padding-bottom: $val*4; }
	}
}
@include padding_classes();


// margin rules
@mixin margin_classes($val: 20px) {

	.margin-sm { margin: $val; }
	.margin-top-sm { margin-top: $val; }
	.margin-bot-sm { margin-bottom: $val; }

	.margin-md { margin: $val*2; }
	.margin-top-md { margin-top: $val*2; }
	.margin-bot-md { margin-bottom: $val*2; }

	.margin-lg { margin: $val*3; }
	.margin-top-lg { margin-top: $val*3; }
	.margin-bot-lg { margin-bottom: $val*3; }

	@include media-breakpoint-up(md) {

		.margin-sm { margin: $val*2; }
		.margin-top-sm { margin-top: $val*2; }
		.margin-bot-sm { margin-bottom: $val*2; }

		.margin-md { margin: $val*3; }
		.margin-top-md { margin-top: $val*3; }
		.margin-bot-md { margin-bottom: $val*3; }

		.margin-lg { margin: $val*4; }
		.margin-top-lg { margin-top: $val*4; }
		.margin-bot-lg { margin-bottom: $val*4; }
	}
}
@include margin_classes();

