// bower:scss
// endbower
/*
--------------------------------------------------
	Buttons
--------------------------------------------------
*/

button {
	background: none;
	border: none;
	font-family: $font-family;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

.chevron-icon {
	color: $color-black;
	display: block;

	&.white {
		color: $color-white;
	}

	&:before {
		border-style: solid;
		border-width: 2px 2px 0 0;
		content: '';
		display: inline-block;
		height: 1em;
		left: 0;
		position: relative;
		top: 0.1875em;
		transform: rotate(-45deg);
		vertical-align: top;
		width: 1em;
	}

	&.small {
		&:before {
			border-width: 1px 1px 0 0;
			height: 0.5em;
			width: 0.5em;
		}
	}

	&.bottom {
		&:before {
			top: 0;
			transform: rotate(135deg);
		}
	}

	&.left {
		&:before {
			transform: rotate(-135deg);
		}
	}

	&.right {
		&:before {
			transform: rotate(45deg);
		}
	}
}

.close-icon {
	display: block;
	height: 20px;
	position: relative;
	width: 20px;

	&:hover {
		opacity: 1;
	}

	&:before,
	&:after {
		background-color: $color-black;
		content: '';
		height: 20px;
		position: absolute;
		width: 1px;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}

	&.white {

		&:before,
		&:after {
			background-color: $color-white;
		}
	}
}

