<!--/*
	Main HTML template for the banner component.

	CMS Options:

	Text Color:
	  - black:		text-black
	  - white:		text-white

	Background Color:
	  - black:			bg-black
	  - white:			bg-white
	  - blue:			bg-blue
	  - blue (muted):	bg-blue-muted
	  - green:			bg-green
	  - green (muted):	bg-green-muted
	  - lime:			bg-lime
	  - lime (muted):	bg-lime-muted
	  - teal:			bg-teal
	  - teal (muted):	bg-teal-muted
	  - dark gray:		bg-dk-gray
	  - medium gray:	bg-md-gray
	  - gray:			bg-gray
	  - light gray:		bg-lt-gray

	Background Image
	  Help text: Recommended banner sizes are: Tall (1600x820), Medium (1600x570), Small (1600x270).

	  (Note: If defined use bg-image class and style="background-image:url(...)" attribute.)

	Mobile Background Image
	  Help text: Recommended banner sizes are: Tall (375x645), Medium (375x405), Small (375x220).

	Bottom Angle Color:
	  - black:			bottom-angle-black
	  - white:			bottom-angle-white
	  - blue:			bottom-angle-blue
	  - blue (muted):	bottom-angle-blue-muted
	  - green:			bottom-angle-green
	  - green (muted):	bottom-angle-green-muted
	  - lime:			bottom-angle-lime
	  - lime (muted):	bottom-angle-lime-muted
	  - teal:			bottom-angle-teal
	  - teal (muted):	bottom-angle-teal-muted
	  - dark gray:		bottom-angle-dk-gray
	  - medium gray:	bottom-angle-md-gray
	  - gray:			bottom-angle-gray
	  - light gray:		bottom-angle-lt-gray

	  (Note: If not defined, use bottom-angle-white as the class.)

	Banner Height:
	  - Tall:           component-banner-tall
	  - Medium:         component-banner-medium
	  - Short:          component-banner-short

	CTA Style:
	  - Solid Green:    primary
	  - Green Outline:  secondary
	  - White Outline:  secondary-white

*/-->


<!-- Variation: Tall banner, white text, white bottom angle, background image -->
<section class="component-banner component-banner-tall bottom-angle-right bottom-angle-white text-white bg-image" id="component-id-abc">
	<div class="container">
		<div class="row pad-top-lg pad-bot-lg">
			<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xxl-5">
				<header>
					<h1>Banner Component (Tall)</h1>
				</header>
				<div class="component-content">
					<div class="body">
						<p>Subhead lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<!-- If CTA -->
					<div class="cta">
						@@include('../cta/cta.html', { "url" : "index.html", "class" : "primary", "label" : "learn more" })
					</div>
					<!-- end if -->
				</div>
			</div>
		</div>
	</div>
	<style>
	@media only screen and (max-width: 499px) {
		#component-id-abc { background-image:url('../../images/fpo/banner-mobile-tall-375x645.jpg') }
	}
	@media only screen and (min-width: 500px) {
		#component-id-abc { background-image:url('../../images/fpo/banner-tall-home.jpg') }
	}
	</style>
</section>


<!-- Variation: Default banner, white text, white bottom angle, background image -->
<section class="component-banner component-banner-medium bottom-angle-right bottom-angle-white text-white bg-image" id="component-id-123">
	<div class="container">
		<div class="row pad-top-lg pad-bot-lg">
			<div class="col-12 col-md-8 offset-md-2 col-lg-6">
				<header>
					<h1>Banner Component (Default)</h1>
				</header>
				<!-- If content -->
				<div class="component-content">
					<div class="body">
						<p>Subhead lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<!-- end if -->
			</div>
		</div>
	</div>
	<style>
	@media only screen and (max-width: 499px) {
		#component-id-123 { background-image:url('../../images/fpo/banner-mobile-medium-375x405.jpg') }
	}
	@media only screen and (min-width: 500px) {
		#component-id-123 { background-image:url('../../images/fpo/banner-medium-solutions.jpg') }
	}
	</style>
</section>


<!-- Variation: Short banner, white text, white bottom angle, background image -->
<section class="component-banner component-banner-short bottom-angle-right bottom-angle-white text-white bg-image" id="component-id-xyz">
	<div class="container">
		<div class="row pad-top-lg pad-bot-lg">
			<div class="col-12 col-md-8 offset-md-2 col-lg-6">
				<header>
					<h1>Banner Component (Short)</h1>
				</header>
			</div>
		</div>
	</div>
	<style>
	@media only screen and (max-width: 499px) {
		#component-id-xyz { background-image:url('../../images/fpo/banner-mobile-short-375x220.jpg') }
	}
	@media only screen and (min-width: 500px) {
		#component-id-xyz { background-image:url('../../images/fpo/banner-medium-story.jpg') }
	}
	</style>
</section>
