/**
 *  Main css for fifty-fifty
 */

.component-fifty-fifty {

	@include media-breakpoint-down(md) {
		padding-bottom: 150px;
		position: relative;

		.col-content {
			position: static;

			.cta {
				bottom: 60px;
				position: absolute;
			}
		}

		.component-image {
			margin-bottom: 40px;
		}

	}

	@include media-breakpoint-up(md) {

		&.show-arrows {
			background-image: url('../../images/bg-arrows-right.png');
			background-repeat: no-repeat;
			background-position: 100% 50%;
		}

		&.image-left {

			&.show-arrows {
				background-image: url('../../images/bg-arrows-left.png');
				background-position: 0 50%;
			}
		}


		.col-content {

			.cta {
				padding-top: 80px;
			}
		}

	}
}
