<!--/*
    Main HTML template for the card-icon component.

    CMS Notes: cta inherits the class (i.e. primary, secondary, etc.) of the parent container.
*/-->

<section class="component-card-icon">
	<div class="image">
		<img class="img-responsive img-centered" src="@@image">
	</div>
	<div class="content">
		<header>
			<h5>@@title</h5>
		</header>
		<div class="body">
			@@body
		</div>
		<!-- if CTA -->
		<div class="cta">
			@@include('../cta/cta.html', { "url" : "index.html", "class" : "primary", "label" : "learn more" })
		</div>
		<!-- end if -->
	</div>
</section>
