<!--/*
    Main HTML template for the bio-detail component.
*/-->
<article class="component-bio-detail pad-top-sm pad-bot-lg">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
				<div class="component-image margin-bot-lg">
					<div class="row">
						<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
							<img class="img-responsive img-fullwidth" src="https://picsum.photos/801/741/">
						</div>
					</div>
				</div>
				<div class="component-header">
					<div class="row align-items-end justify-content-between">
						<div class="col-12 col-md-3 order-md-2">
							<div class="article-share">
								Share
							</div>
						</div>
						<div class="col-12 col-md-9 col-xl-8 col-xxl-7 order-md-1">
							<header>
								<h1 class="line">Lorem ipsum dolor</h1>
							</header>
						</div>
					</div>
				</div>
				<div class="component-body">
                        body
				</div>
			</div>
		</div>
	</div>
</article>

