/**
 *  Main css for bio-detail
 */

.component-bio-detail {

	.component-header {
		margin: 0;

		.article-share {
			display: flex;
			justify-content: flex-end;
			margin: 0 0 60px;
		}

		.meta {
			color: $color-md-gray;
			font-size: 14px;
			font-weight: 500;
			line-height: 16px;
			margin: 0 0 30px;
		}

		h1 { font-size: 26px; line-height: 34px; }
	}

	.cta {
		margin: 40px 0 20px;
	}

	@include media-breakpoint-up(md) {

		.component-header {

			.article-share {
				margin: 0 0 45px;
			}
		}
	}

	@include media-breakpoint-up(lg) {

		.component-header {

			h1 { font-size: 34px; line-height: 42px; }
		}
	}
}
