<!--/*
	Main HTML template for the global-footer component.
*/-->
<footer class="component-global-footer">
	<div class="container">
		<div class="row">
			<div class="col-legal col-12 col-lg-8 col-xl-9">
				<a class="logo" href="/">
					<img class="img-responsive logo-default" src="../../images/logo-white.png">
					<img class="img-responsive logo-hover" src="../../images/logo-green.png">
				</a>
				<div class="colophon clearfix">
					<div class="copyright">&copy; 2018 BrightInsight. All rights reserved.</div>
					<nav class="nav-legal clearfix">
						<ul>
							<li><a href="http://flex.com/">Flex.com</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Trademarked</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="col-12 col-lg-4 col-xl-3">
				<nav class="nav-footer">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>
				<nav class="nav-social clearfix">
					<ul>
						<li><a href="https://www.linkedin.com/company/brightinsight-inc/"><i class="fab fa-linkedin-in"></i></a></li>
						<li><a href="https://twitter.com/Brightinsightco"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</footer>

