<!--/*
    Main HTML template for the footnotes component.

    CMS Notes:

    Padding top:
      - Yes/no:     (if yes, then pad-top-lg)

    Padding bottom:
      - Yes/no:     (if yes, then pad-bot-lg)

    Text Color:
      - black:		text-black
      - white:		text-white

    Background Color:
      - black:			bg-black
      - white:			bg-white
      - blue:			bg-blue
      - blue (muted):	bg-blue-muted
      - green:			bg-green
      - green (muted):	bg-green-muted
      - lime:			bg-lime
      - lime (muted):	bg-lime-muted
      - teal:			bg-teal
      - teal (muted):	bg-teal-muted
      - dark gray:		bg-dk-gray
      - medium gray:	bg-md-gray
      - gray:			bg-gray
      - light gray:		bg-lt-gray

*/-->
<section class="component-footnotes pad-top-lg pad-bot-lg text-black bg-lt-gray">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
				<!-- if Title -->
				<div class="component-header">
					<header>
						<h5>Lorem Ipsum</h5>
					</header>
				</div>
				<!-- end if -->
				<div class="component-body">
					<ol>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
						<li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
						<li>Duis aute irure dolor in reprehenderit in voluptate</li>
						<li>Excepteur sint occaecat cupidatat non</li>
					</ol>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</div>
</section>
