<!--/*
    Main HTML template for the text component.
*/-->
<article class="component-text pad-top-sm pad-bot-lg">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
				<div class="component-header">
					<div class="row align-items-end justify-content-between">
						<div class="col-12 col-md-3 order-md-2">
							<div class="article-share">
								Share
							</div>
						</div>
						<div class="col-12 col-md-9 col-xl-8 col-xxl-7 order-md-1">
							<div class="meta">Dr. Janet Armstrong / Dec 16, 2018</div>
							<header>
								<h1 class="line">Article text component lorem ipsum dolor sit amet consectetur</h1>
							</header>
						</div>
					</div>
				</div>
				<div class="component-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis ullamcorper lorem. Proin condimentum augue tellus, eget pellentesque mauris vehicula nec. Sed dapibus augue a elit feugiat ornare. Donec condimentum augue nec accumsan efficitur. Nam auctor varius dolor in vestibulum. Ut placerat dictum augue, ut convallis nunc ornare pulvinar. Proin sed leo efficitur, dapibus nisl vitae, auctor leo. Sed eleifend purus lacus.</p>
					<p>Ut consequat iaculis eros nec rutrum. Praesent non laoreet erat, eget congue lacus. Praesent ac consequat est, nec luctus est. Nam fermentum interdum nisi, ac eleifend eros pulvinar eget. In blandit tellus in erat rhoncus semper. Nam pharetra sapien eu lacus ullamcorper tincidunt. Sed pretium elementum nibh et dictum.</p>
					<p>Nulla sem arcu, malesuada eu efficitur condimentum, lacinia sit amet massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla sed arcu arcu. Fusce consectetur feugiat risus, non imperdiet risus volutpat vel. Integer faucibus commodo nisi. Suspendisse ullamcorper vitae nunc sit amet rhoncus. Phasellus et tellus dignissim, elementum lorem in, sodales erat. Curabitur tempor quis nibh at egestas. Cras sed turpis nec velit aliquam condimentum a a risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin vel odio quam. Donec elit dui, malesuada sit amet accumsan at, pulvinar a urna. Vivamus sodales elit nibh. In vitae suscipit enim. Proin tincidunt enim turpis, id fermentum urna egestas in.</p>
					<p>Aenean accumsan, elit non blandit aliquet, magna ante efficitur nunc, non convallis ante quam non massa. Praesent dictum purus sed aliquet sagittis. Vestibulum at placerat leo. Ut laoreet viverra nisi vel blandit. Cras semper nisl in lacus aliquet fringilla. Donec finibus lacinia libero, vitae elementum felis placerat nec. Quisque tincidunt tortor vitae tortor sagittis auctor. Phasellus pretium magna ut ultricies iaculis. Nunc turpis ante, eleifend ut nibh nec, finibus consectetur risus.</p>
					<p>Mauris porta nibh nisi, at varius lectus ullamcorper in. Pellentesque faucibus leo sit amet nisl ornare pulvinar. Integer tincidunt, ipsum eu dignissim viverra, leo ante egestas tellus, sit amet blandit lacus lacus a massa. In hac habitasse platea dictumst. Duis rhoncus leo sem, id vehicula sapien pellentesque sit amet. Nullam cursus ex est, sed ultrices metus lobortis eu. Fusce ultrices iaculis urna at sollicitudin. Ut velit turpis, aliquam quis porta at, rutrum ut tellus. Maecenas dictum tellus urna, eu venenatis magna luctus non. Suspendisse suscipit turpis vitae nisi tincidunt, quis ullamcorper nunc varius. Quisque sed tempor risus, egestas sagittis urna. Nulla ac faucibus nisi. Nam diam metus, molestie non ornare id, dignissim eget ligula. Quisque ipsum nisi, euismod non imperdiet sit amet, finibus eu turpis. Nam est lacus, vehicula nec augue sit amet, laoreet aliquet dui.</p>
					<p>Suspendisse vestibulum, risus nec rutrum lacinia, lorem dui suscipit sem, eu imperdiet diam ligula non arcu. Quisque ac eros id nunc tempor condimentum id vitae leo. Sed nec augue vitae nisl mattis vehicula sed sit amet elit. Ut dignissim eget diam finibus ornare. Integer scelerisque nibh eget porttitor fermentum. Praesent vitae diam at orci congue dictum. Fusce sapien elit, convallis non suscipit non, lobortis sed nisi. Sed finibus augue nibh, lobortis posuere magna fermentum ut.</p>
					<p>Pellentesque vel quam ut enim pulvinar ullamcorper. Etiam sed leo massa. Proin vitae massa a tortor finibus porttitor. Curabitur scelerisque venenatis tellus, in lobortis arcu faucibus eget. Etiam a vestibulum lectus. Duis sem ipsum, imperdiet eget lectus tempor, varius convallis enim. Pellentesque at velit aliquet, aliquet ipsum ac, egestas leo.</p>
				</div>
				<!-- if CTA -->
				<div class="cta">
					@@include('../cta/cta.html', { "url" : "index.html", "class" : "primary", "label" : "see all" })
				</div>
				<!-- end if -->
			</div>
		</div>
	</div>
</article>

