<!--/*
    Main HTML template for the cards component.
*/-->
<section class="component-cards pad-top-lg pad-bot-lg text-centered text-black bg-lt-gray">
	<div class="container">
		<div class="component-header">
			<div class="row">
				<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
					<header>
						<h2>Cards Component (3-Up)</h2>
					</header>
					<!-- if Intro Text -->
					<div class="component-intro text-large">
						<p>Lorem ipsum dolor sit amet, cum ut tantas dolores partiendo, soluta ridens ex mel. Munere fabulas lucilius ei mea. An vix salutandi expetenda ullamcorper.</p>
					</div>
					<!-- end if -->
				</div>
			</div>
		</div>
		<div class="component-body sync-boxes">
			<div class="row">
				<div class="col-12 col-lg-4">
					@@include('../card/card.html', { "image" : "../../images/fpo/watch.jpg", "meta" : "Dec 20, 2018", "title" : "Feugiat quis consequat eget tincidunt congue augue" })
				</div>
				<div class="col-12 col-lg-4">
					@@include('../card/card.html', { "image" : "../../images/fpo/doctors.jpg", "meta" : "Jan 01, 2019", "title" : "Adipiscing elit nullam erat justo" })
				</div>
				<div class="col-12 col-lg-4">
					@@include('../card/card.html', { "image" : "../../images/fpo/city.jpg", "meta" : "Jan 15, 2019", "title" : "Lorem ipsum dolor sit amet consectetur" })
				</div>
			</div>
		</div>
		<!-- if Footer CTA -->
		<div class="component-footer">
			@@include('../cta/cta.html', { "url" : "index.html", "class" : "primary", "label" : "learn more" })
		</div>
		<!-- end if -->
	</div>
</section>




<!--/*
    Example HTML template for the cards component with 4-columns.
*/-->

<section class="component-cards pad-top-lg pad-bot-lg text-centered text-white bg-blue-muted">
	<div class="container">
		<div class="component-header">
			<div class="row">
				<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
					<header>
						<h2>Cards Component (4-Up)</h2>
					</header>
					<!-- if Intro Text -->
					<div class="component-intro text-large">
						<p>Lorem ipsum dolor sit amet, cum ut tantas dolores partiendo, soluta ridens ex mel. Munere fabulas lucilius ei mea. An vix salutandi expetenda ullamcorper.</p>
					</div>
					<!-- end if -->
				</div>
			</div>
		</div>
		<div class="component-body sync-boxes">
			<div class="row">
				<div class="col-12 col-lg-3">
					@@include('../card/card.html', { "image" : "../../images/fpo/city-alt.jpg", "meta" : "Dec 20, 2018", "title" : "Feugiat quis consequat eget tincidunt congue augue" })
				</div>
				<div class="col-12 col-lg-3">
					@@include('../card/card.html', { "image" : "../../images/fpo/office.jpg", "meta" : "Jan 01, 2019", "title" : "Adipiscing elit nullam erat justo" })
				</div>
				<div class="col-12 col-lg-3">
					@@include('../card/card.html', { "image" : "../../images/fpo/watch.jpg", "meta" : "Jan 03, 2019", "title" : "Adipiscing elit nullam erat justo" })
				</div>
				<div class="col-12 col-lg-3">
					@@include('../card/card.html', { "image" : "../../images/fpo/doctors.jpg", "meta" : "Jan 15, 2019", "title" : "Lorem ipsum dolor sit amet consectetur" })
				</div>
			</div>
		</div>
		<!-- if Footer CTA -->
		<div class="component-footer">
			@@include('../cta/cta.html', { "url" : "index.html", "class" : "primary", "label" : "learn more" })
		</div>
		<!-- end if -->
	</div>
</section>
