/**
 *  Main css for columns
 */

.component-columns {

	.component-body {

		.columns {
			justify-content: space-between;
		}
	}

	&.component-columns-connectors {

		.cols-connector {
			margin: -20px 0 30px;
		}

		.desktop-connector {
			display: none;
		}

		@include media-breakpoint-up(lg) {

			.cols-connector {
				left: 50%;
				margin: 0;
				position: absolute;
				transform: translateX(-50%);
			}

			.desktop-connector {
				display: block;
			}

			.mobile-connector {
				display: none;
			}
		}
	}
}
