<!--/*
    Main HTML template for the global-navigation component.

    CMS Options:

	Variation:
	 - Standard:                            (no extra class needed)
	 - Transparent:   variant-transparent   (append this class to the <header class="component-global-navigation"> tag)

	Logos:
	 - Standard Logo
	 - Transparent Logo
*/-->

<header class="component-global-navigation" role="banner">
	<div class="container">
		<div class="row">
			<div class="col-6 col-lg-3">
				<a class="logo" href="/">
					<img class="img-responsive img-standard" src="../../images/logo-color.png">
					<img class="img-responsive img-transparent" src="../../images/logo-white-color.png">
				</a>
			</div>
			<div class="col-6 col-lg-9">
				<div class="mobile-nav-trigger">
					<button class="hamburger hamburger--squeeze" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>
				<div class="desktop-menu">
					<nav class="nav-utility clearfix">
						<ul>
							<li><a href="#">Customer Login</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>
					</nav>
					<nav class="nav-primary clearfix">
						<ul>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle">Products + Services</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">BrightInsight Platform</a>
										<ul class="dropdown-menu">
											<li><a href="#">Lorem Ipsum Dolor</a></li>
											<li><a href="#">Consectetur Adipisicing</a></li>
										</ul>
									</li>
									<li><a href="#">Starter Assets</a></li>
									<li><a href="#">Services</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle">Solutions</a>
								<ul class="dropdown-menu">
									<li><a href="#">Pharma</a></li>
									<li><a href="#">Medtech</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Knowledge Center</a>
							</li>
							<li>
								<a href="#">News + Events</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle">Company</a>
								<ul class="dropdown-menu">
									<li><a href="#">Our Story</a></li>
									<li><a href="#">Leadership Team</a></li>
									<li><a href="#">Clinical Board</a></li>
									<li><a href="#">Careers</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="mobile-menu">
		<div class="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-8">
						<img class="logo img-responsive" src="../../images/logo-white-color.png">
						<button class="back">
							<span class="chevron-icon left white"></span>
						</button>
					</div>
					<div class="col-4">
						<button class="close">
							<span class="close-icon white"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-wrap">
			<nav class="nav-primary">
				<ul>
					<li class="slide-item">
						<a href="#" class="slide-toggle">Products + Services <span class="chevron-icon small right white"></span></a>
						<ul class="slide-menu">
							<li class="slide-item">
								<a href="#" class="slide-toggle">BrightInsight Platform <span class="chevron-icon small right white"></span></a>
								<ul class="slide-menu">
									<li><a href="#">Lorem Ipsum Dolor</a></li>
									<li><a href="#">Consectetur Adipisicing</a></li>
								</ul>
							</li>
							<li><a href="#">Starter Assets</a></li>
							<li><a href="#">Services</a></li>
						</ul>
					</li>
					<li class="slide-item">
						<a href="#" class="slide-toggle">Solutions <span class="chevron-icon small right white"></span></a>
						<ul class="slide-menu">
							<li><a href="#">Pharma</a></li>
							<li><a href="#">Medtech</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Knowledge Center</a>
					</li>
					<li>
						<a href="#">News + Events</a>
					</li>
					<li class="slide-item">
						<a href="#" class="slide-toggle">Company <span class="chevron-icon small right white"></span></a>
						<ul class="slide-menu">
							<li><a href="#">Our Story</a></li>
							<li><a href="#">Leadership Team</a></li>
							<li><a href="#">Clinical Board</a></li>
							<li><a href="#">Careers</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<nav class="nav-utility">
				<ul>
					<li><a href="#">Customer Login</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
