/**
 *  Main css for fifty-fifty-fullbleed
 */


.component-fifty-fifty-fullbleed {
	position: relative;

	.col-image {
		overflow: hidden;
		position: relative;

		img {
			display: block;
		}

		&:before {
			border-bottom-style: solid;
			border-bottom-width: 30px;
			border-right: 100vw solid transparent;
			bottom: 0;
			content: '';
			display: block;
			height: 0;
			left: 0;
			position: absolute;
			width: 0;
		}
	}

	@each $name, $color in $theme-color-map {

		&.bg-#{$name} {

			.col-image {

				&:before {
					border-bottom-color: $color;
				}

				&:after {
					background: $color;
				}
			}
		}
	}

	@include media-breakpoint-up(md) {

		.col-image {
			background-size: cover;
			bottom: 0;
			left: 0;
			position: absolute;
			right: 50%;
			top: 0;

			img {
				visibility: hidden;
			}

			&:before {
				display: none;
			}

			&:after {
				bottom: 0;
				content: '';
				display: block;
				position: absolute;
				right: -1px;
				top: 0;
				width: 60px;
				-webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
				clip-path: polygon(100% 0, 0 100%, 100% 100%);
			}
		}

		&.image-right {

			.col-image {

				&:after {
					left: -1px;
					right: auto;
					-webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
					clip-path: polygon(0 0, 0 100%, 100% 0);
				}
			}
		}
	}

	.is-ie & {

		@include media-breakpoint-up(md) {

			.col-image {

				&:after {
					right: -10%;
					transform: skewX(-5deg);
					transform-origin: 100%;
					width: 90px;
				}
			}

			&.image-right {

				.col-image {

					&:after {
						left: -10%;
						right: auto;
						transform: skewX(-5deg);
					}
				}
			}

		}
	}
}
