<!--/*
    Main HTML template for the fifty-fifty component.

    CMS Options:

    Text Color
      - (cf. /fed/components/use-cases/use-cases.html)

    Background Color
      - (cf. /fed/components/use-cases/use-cases.html)

    Variation:
      - Image on Left:     image-left
      - Image on Right:    image-right

    Show Arrows:
      - Yes (checkbox to enable)
*/-->


<!-- Variation: Image right, show arrows, black text, lt gray background -->
<section class="component-fifty-fifty pad-top-lg pad-bot-lg image-right show-arrows text-black bg-lt-gray">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-image col-12 col-md-4 offset-md-1 order-md-2">
				<div class="component-image">
					<img class="img-responsive" src="../../images/fpo/ipad.png">
				</div>
			</div>
			<div class="col-content col-12 col-md-5 offset-md-1 order-md-1">
				<div class="component-content">
					<h3 class="line">Aliquam ultricies sit amet mauris ac condimentum</h3>
					<div class="body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="cta">
					@@include('../cta/cta.html', { "url" : "index.html", "class" : "primary", "label" : "learn more" })
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Variation: Image left, show arrows, black text, white background -->
<section class="component-fifty-fifty pad-top-lg pad-bot-lg image-left show-arrows text-black bg-white">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-image col-12 col-md-4 offset-md-1">
				<div class="component-image">
					<img class="img-responsive" src="../../images/fpo/ipad.png">
				</div>
			</div>
			<div class="col-content col-12 col-md-5 offset-md-1">
				<div class="component-content">
					<h3 class="line">Aliquam ultricies sit amet mauris ac condimentum</h3>
					<div class="body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="cta">
					@@include('../cta/cta.html', { "url" : "index.html", "class" : "primary", "label" : "learn more" })
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Variation: Image right, black text, lt gray background -->
<section class="component-fifty-fifty pad-top-lg pad-bot-lg image-right text-black bg-lt-gray">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-image col-12 col-md-4 offset-md-1 order-md-2">
				<div class="component-image">
					<img class="img-responsive" src="http://via.placeholder.com/500?text=Infographic">
				</div>
			</div>
			<div class="col-content col-12 col-md-5 offset-md-1 order-md-1">
				<div class="component-content">
					<h3 class="line">Aliquam ultricies sit amet mauris ac condimentum</h3>
					<div class="body">
						<ul>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
							<li>Praesent eu arcu et nulla tincidunt dignissim sit amet sed urna.</li>
							<li>Phasellus fringilla mi finibus libero faucibus, id convallis dolor commodo.</li>
						</ul>
					</div>
				</div>
				<div class="cta">
					@@include('../cta/cta.html', { "url" : "index.html", "class" : "primary", "label" : "learn more" })
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Variation: Image left, black text, white background -->
<section class="component-fifty-fifty pad-top-lg pad-bot-lg image-left text-black bg-white">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-image col-12 col-md-4 offset-md-1">
				<div class="component-image">
					<img class="img-responsive" src="http://via.placeholder.com/500?text=Infographic">
				</div>
			</div>
			<div class="col-content col-12 col-md-5 offset-md-1">
				<div class="component-content">
					<h3 class="line">Aliquam ultricies sit amet mauris ac condimentum</h3>
					<div class="body">
						<ul>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
							<li>Praesent eu arcu et nulla tincidunt dignissim sit amet sed urna.</li>
							<li>Phasellus fringilla mi finibus libero faucibus, id convallis dolor commodo.</li>
						</ul>
					</div>
				</div>
				<div class="cta">
					@@include('../cta/cta.html', { "url" : "index.html", "class" : "primary", "label" : "learn more" })
				</div>
			</div>
		</div>
	</div>
</section>





