/**
 *  Main css for footnotes
 */

.component-footnotes {

	.component-header {
		margin: 0 0 20px;
	}

	.component-body {
		font-size: 14px;
		line-height: 21px;

		li {
			margin-bottom: 8px;
		}
	}

}
