/**
 *  Main css for card
 */

.component-card {
	background: $color-white;
	margin: 0 0 20px;
	position: relative;
	text-align: left;

	header {

		h1, h2, h3, h4, h5, h6 {
			color: $color-blue;
			font-weight: 400;
		}
	}

	ul li::before {
		color: $color-green;
	}

	.content {
		padding: 15px 20px 20px;

		.type {
			color: $color-white;
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			margin: 0 0 45px;
			padding: 0 0 12px;
			position: absolute;
			text-transform: uppercase;
			top: 20px;

			&:after {
				background: $color-lime;
				bottom: 0;
				content: '';
				display: block;
				height: 3px;
				position: absolute;
				width: 20px;
			}
		}

		.meta {
			color: $color-md-gray;
			font-size: 16px;
			font-weight: 500;
			margin: 0 0 15px;
		}

		.body {
			color: $color-dk-gray;
			font-size: 16px;
			font-weight: 300;
			line-height: 26px;
			margin: 20px 0 0;

			a {
				color: $color-blue;

				&:visited {
					color: $color-blue;
				}
			}
		}

		.cta {
			margin: 20px 0 0;
		}
	}

	@include media-breakpoint-up(md) {
		margin: 0 0 30px;

		.content {
			padding: 20px 30px 30px;

			.type {
				top: 30px;
			}
		}
	}

	@include media-breakpoint-up(lg) {

		.content {
			padding-bottom: 120px;

			.cta {
				bottom: 30px;
				position: absolute;
			}
		}
	}

}
